<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MangaRipper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <MangaRipper.Properties.Settings>
      <setting name="SaveTo" serializeAs="String">
        <value/>
      </setting>
      <setting name="Url" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProxyHost" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProxyPort" serializeAs="String">
        <value>8080</value>
      </setting>
      <setting name="ProxyUserName" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProxyPassword" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProxyEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Size" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="Location" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
    </MangaRipper.Properties.Settings>
  </userSettings>
  <system.net>
    <settings>
      <!--User for MangaToshokan, the server return invalid header.-->
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
