<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="NLog" version="4.5.4" targetFramework="net452" />
  <package id="NLog.Config" version="4.5.4" targetFramework="net452" />
  <package id="NLog.Schema" version="4.5.4" targetFramework="net452" />
  <package id="Octokit" version="0.29.0" targetFramework="net452" />
  <package id="SimpleInjector" version="4.3.0" targetFramework="net452" />
</packages>